USE [Hospital]
GO
/****** Object:  Table [dbo].[Access_Level_Table]    Script Date: 03.03.2024 22:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Access_Level_Table](
	[id_access_level] [int] IDENTITY(1,1) NOT NULL,
	[Name_of_access_level] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Access_Level_Table] PRIMARY KEY CLUSTERED 
(
	[id_access_level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnoses_Table]    Script Date: 03.03.2024 22:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses_Table](
	[id_diagnose] [int] IDENTITY(1,1) NOT NULL,
	[Name_diagnose_rus] [nvarchar](50) NOT NULL,
	[Name_diagnose_lat] [nvarchar](50) NULL,
	[Type_diagnose] [nvarchar](50) NOT NULL,
	[Nature_of_the_disease] [nvarchar](50) NOT NULL,
	[Stage_diagnose] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Diagnoses_Table] PRIMARY KEY CLUSTERED 
(
	[id_diagnose] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors_Table]    Script Date: 03.03.2024 22:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors_Table](
	[id_doctor] [int] IDENTITY(1,1) NOT NULL,
	[Name_doctor] [nvarchar](50) NOT NULL,
	[Surname_doctor] [nvarchar](50) NOT NULL,
	[Patronymic_doctor] [nvarchar](50) NULL,
	[Specialization] [nvarchar](50) NOT NULL,
	[Experience] [int] NOT NULL,
	[User_login] [nvarchar](50) NOT NULL,
	[User_pass] [nvarchar](50) NOT NULL,
	[id_access_level] [int] NOT NULL,
	[EmployeeImage] [image] NULL,
 CONSTRAINT [PK_Doctors_Table] PRIMARY KEY CLUSTERED 
(
	[id_doctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender_Table]    Script Date: 03.03.2024 22:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender_Table](
	[id_gender] [int] IDENTITY(1,1) NOT NULL,
	[Name_of_gender] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_Gender_Table] PRIMARY KEY CLUSTERED 
(
	[id_gender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients_Medical_Records_Table]    Script Date: 03.03.2024 22:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients_Medical_Records_Table](
	[id_medical_records] [int] IDENTITY(1,1) NOT NULL,
	[Name_patient] [nvarchar](50) NOT NULL,
	[Surname_patient] [nvarchar](50) NOT NULL,
	[Patronymic_patient] [nvarchar](50) NULL,
	[Age_patient] [int] NOT NULL,
	[Birth_date_patient] [date] NOT NULL,
	[id_gender] [int] NOT NULL,
	[Insurance_policy_number_patient] [nvarchar](16) NOT NULL,
	[Addres_patient] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Patients_Medical_Records_Table] PRIMARY KEY CLUSTERED 
(
	[id_medical_records] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reception_Table]    Script Date: 03.03.2024 22:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reception_Table](
	[id_reception] [int] IDENTITY(1,1) NOT NULL,
	[id_doctor_reception] [int] NOT NULL,
	[id_medical_records_reception] [int] NOT NULL,
	[Date_of_reception] [date] NOT NULL,
	[Complaints] [nvarchar](150) NOT NULL,
	[Appointment] [nvarchar](50) NOT NULL,
	[id_diagnose_reception] [int] NOT NULL,
	[addition_to_diagnose] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Reception_Table] PRIMARY KEY CLUSTERED 
(
	[id_reception] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Access_Level_Table] ON 

INSERT [dbo].[Access_Level_Table] ([id_access_level], [Name_of_access_level]) VALUES (1, N'Администратор')
INSERT [dbo].[Access_Level_Table] ([id_access_level], [Name_of_access_level]) VALUES (2, N'Главный врач')
INSERT [dbo].[Access_Level_Table] ([id_access_level], [Name_of_access_level]) VALUES (3, N'Доктор')
SET IDENTITY_INSERT [dbo].[Access_Level_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Diagnoses_Table] ON 

INSERT [dbo].[Diagnoses_Table] ([id_diagnose], [Name_diagnose_rus], [Name_diagnose_lat], [Type_diagnose], [Nature_of_the_disease], [Stage_diagnose]) VALUES (1, N'Аллергия', N'Allergy', N'Основной', N'Наследственный', N'Клинический')
INSERT [dbo].[Diagnoses_Table] ([id_diagnose], [Name_diagnose_rus], [Name_diagnose_lat], [Type_diagnose], [Nature_of_the_disease], [Stage_diagnose]) VALUES (2, N'Вывих', N'Luxation', N'Основной', N'Травматическое воздействие', N'Клинический')
INSERT [dbo].[Diagnoses_Table] ([id_diagnose], [Name_diagnose_rus], [Name_diagnose_lat], [Type_diagnose], [Nature_of_the_disease], [Stage_diagnose]) VALUES (3, N'Пневмония', N'Pneumonia', N'Основной', N'Воспалительный', N'Патологоанатомический')
SET IDENTITY_INSERT [dbo].[Diagnoses_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors_Table] ON 

INSERT [dbo].[Doctors_Table] ([id_doctor], [Name_doctor], [Surname_doctor], [Patronymic_doctor], [Specialization], [Experience], [User_login], [User_pass], [id_access_level], [EmployeeImage]) VALUES (1, N'Ермолай', N'Брежнев', N'Васильевич', N'Врач-аллерголог', 15, N'Ermol@mail.ru', N'ermol1', 3, NULL)
INSERT [dbo].[Doctors_Table] ([id_doctor], [Name_doctor], [Surname_doctor], [Patronymic_doctor], [Specialization], [Experience], [User_login], [User_pass], [id_access_level], [EmployeeImage]) VALUES (2, N'Ростислав', N'Васильев', NULL, N'Врач-травматолог', 12, N'Rosti@mail.ru', N'rosti1', 3, NULL)
INSERT [dbo].[Doctors_Table] ([id_doctor], [Name_doctor], [Surname_doctor], [Patronymic_doctor], [Specialization], [Experience], [User_login], [User_pass], [id_access_level], [EmployeeImage]) VALUES (3, N'Мирослав', N'Данилов', N'Макарович', N'Врач-невролог', 6, N'Miros@mail.ru', N'miros1', 3, NULL)
SET IDENTITY_INSERT [dbo].[Doctors_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender_Table] ON 

INSERT [dbo].[Gender_Table] ([id_gender], [Name_of_gender]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender_Table] ([id_gender], [Name_of_gender]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients_Medical_Records_Table] ON 

INSERT [dbo].[Patients_Medical_Records_Table] ([id_medical_records], [Name_patient], [Surname_patient], [Patronymic_patient], [Age_patient], [Birth_date_patient], [id_gender], [Insurance_policy_number_patient], [Addres_patient]) VALUES (1, N'Трифон', N'Доржинов', NULL, 30, CAST(N'1994-01-04' AS Date), 1, N'4243319557347687', N'ул. Зеленый пер., д. 10 кв. 43')
INSERT [dbo].[Patients_Medical_Records_Table] ([id_medical_records], [Name_patient], [Surname_patient], [Patronymic_patient], [Age_patient], [Birth_date_patient], [id_gender], [Insurance_policy_number_patient], [Addres_patient]) VALUES (3, N'Ядвига', N'Бартель', N'Егоровна', 34, CAST(N'1990-11-25' AS Date), 2, N'7820909248981960', N'ул. Речная , д. 11 кв. 120')
INSERT [dbo].[Patients_Medical_Records_Table] ([id_medical_records], [Name_patient], [Surname_patient], [Patronymic_patient], [Age_patient], [Birth_date_patient], [id_gender], [Insurance_policy_number_patient], [Addres_patient]) VALUES (4, N'Яна', N'Тихомирова', N'Викторовна', 40, CAST(N'1984-01-26' AS Date), 2, N'6334763140706731', N'ул. Мира, д. 4 кв. 81')
SET IDENTITY_INSERT [dbo].[Patients_Medical_Records_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Reception_Table] ON 

INSERT [dbo].[Reception_Table] ([id_reception], [id_doctor_reception], [id_medical_records_reception], [Date_of_reception], [Complaints], [Appointment], [id_diagnose_reception], [addition_to_diagnose]) VALUES (1, 1, 1, CAST(N'2024-01-26' AS Date), N'Проверка работоспособности', N'Проверка работоспособности', 1, N'Проверка работоспособности')
INSERT [dbo].[Reception_Table] ([id_reception], [id_doctor_reception], [id_medical_records_reception], [Date_of_reception], [Complaints], [Appointment], [id_diagnose_reception], [addition_to_diagnose]) VALUES (4, 2, 3, CAST(N'2023-12-26' AS Date), N'test_comp2', N'test_app2', 2, N'test_add2')
INSERT [dbo].[Reception_Table] ([id_reception], [id_doctor_reception], [id_medical_records_reception], [Date_of_reception], [Complaints], [Appointment], [id_diagnose_reception], [addition_to_diagnose]) VALUES (5, 3, 4, CAST(N'2023-11-26' AS Date), N'test_comp3', N'test_app3', 3, N'test_add3')
SET IDENTITY_INSERT [dbo].[Reception_Table] OFF
GO
ALTER TABLE [dbo].[Doctors_Table]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Table_Access_Level_Table] FOREIGN KEY([id_access_level])
REFERENCES [dbo].[Access_Level_Table] ([id_access_level])
GO
ALTER TABLE [dbo].[Doctors_Table] CHECK CONSTRAINT [FK_Doctors_Table_Access_Level_Table]
GO
ALTER TABLE [dbo].[Patients_Medical_Records_Table]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Medical_Records_Table_Gender_Table] FOREIGN KEY([id_gender])
REFERENCES [dbo].[Gender_Table] ([id_gender])
GO
ALTER TABLE [dbo].[Patients_Medical_Records_Table] CHECK CONSTRAINT [FK_Patients_Medical_Records_Table_Gender_Table]
GO
ALTER TABLE [dbo].[Reception_Table]  WITH CHECK ADD  CONSTRAINT [FK_Reception_Table_Diagnoses_Table] FOREIGN KEY([id_diagnose_reception])
REFERENCES [dbo].[Diagnoses_Table] ([id_diagnose])
GO
ALTER TABLE [dbo].[Reception_Table] CHECK CONSTRAINT [FK_Reception_Table_Diagnoses_Table]
GO
ALTER TABLE [dbo].[Reception_Table]  WITH CHECK ADD  CONSTRAINT [FK_Reception_Table_Doctors_Table] FOREIGN KEY([id_doctor_reception])
REFERENCES [dbo].[Doctors_Table] ([id_doctor])
GO
ALTER TABLE [dbo].[Reception_Table] CHECK CONSTRAINT [FK_Reception_Table_Doctors_Table]
GO
ALTER TABLE [dbo].[Reception_Table]  WITH CHECK ADD  CONSTRAINT [FK_Reception_Table_Patients_Medical_Records_Table1] FOREIGN KEY([id_medical_records_reception])
REFERENCES [dbo].[Patients_Medical_Records_Table] ([id_medical_records])
GO
ALTER TABLE [dbo].[Reception_Table] CHECK CONSTRAINT [FK_Reception_Table_Patients_Medical_Records_Table1]
GO
